.header {
    display: flex;

    width: 72.53625em;
    height: 2.5em;
    border: 2px solid black;
    position: relative;
    margin-top: 30px;
    background-image: url("../src/assets/img/Hero/Logo.png");
    background-position: start;
    background-repeat: no-repeat;
    
  } 

  .list{
    color:rgba(33, 40, 50, 1);
      display: flex;
     
     align-items:center;
     left:60%;
    
     margin: 0 auto;
     
     background-color: red;
     width: 40%;
  }

  .login{
    color:rgba(33, 40, 50, 1);
    display: flex;
     justify-content:space-between;
     align-items: center;
     margin:30px;
     
     background-color: red;
     width:4%;
  }